*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2{
    text-align: center;
    font-size: 3em;
    color: rgb(4, 4, 93);
}

.innerPart{
    display: flex;
    padding: 12px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
}
.innerPart span img{
    border-radius: 22px;
    height: 250px;
    width: 350px;
}
.innerPart .para{
    padding: 20px;
}
.para h5{
    font-size: 20px;
    color: rgb(8, 8, 169);
}
.para p{
    margin: 4px 40px;
}

.innerPart:nth-child(even){
    background-color: rgba(202, 201, 201, 0.278);
    flex-direction: row-reverse;
}
.innerPart:nth-child(odd){
    background-color: rgba(161, 187, 189, 0.468);
}