.App {
    text-align: left;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .section {
    /* border: 1px solid #ccc; */
    padding: 20px;
    width: 45%; /* Adjust the width as needed */
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
  }
  .head{
    text-align: center;
  }
  .contact{
    max-width: 500px;
    border: 3px solid #0db8cf;
    margin:10px 0 auto;
    background-image: url(../../asset/contact2.jpg);
    font-size: medium;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .content-2{
    margin-top: 20rem;
    font-size: 50px;
    font-weight: bolder;
  }