
.container{
    display: flex;
}

.flip-box {
    background-color: transparent;
    height: 300px;
    width: 250px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 15px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    height: 300px;
    width: 250px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    padding: 2px;
    /* margin: 12px; */
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    height: 300px;
    width: 250px;
    border-radius: 6px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: #bbb;
    height: 300px;
    width: 250px;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: rgba(43, 51, 58, 0.732);
    color: beige;
    height: 300px;
    width: 250px;
    border-radius: 6px;
    transform: rotateY(180deg);
    padding: 4px;
  }
  .flip-box-back p{
    font-size: 12px;
  }


.innr{
    position: relative;
}
.innr img{
    height: 300px;
    width: 250px;
    border-radius: 6px;
    filter: brightness(70%);
    /* box-shadow: 4px 4px grey; */
}
.innr h5{
    position: absolute;
    top: 8%;
    left: 3%;
    color: azure;
    font-size: 20px;
    margin: -10px 0;
}
.innr .content{
    position: absolute;
    top: 70%;
    left: 3%;
    color: azure;
}
.content .Price{
    font-size: 18px;
}
.content .Amount{
    font-size: 25px;
    margin: -10px 0;
}