*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card-img-top{
    border-radius: 50px;
    padding: 20px;
    /* width: 200px; */
    /* height: 50%; */
    height: 200px;
} 


img.card-img-top {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.card {
    --bs-border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-text{
    font-size: smaller;
    font-weight: 500;
    font-stretch:narrower;
}
.card-title{
    text-align: center;
    color: blue;
    font-size:medium;
    font-weight: bold;
    border-bottom: 2px solid blue;
}
.card{
    resize: none;
}