section{
    /* background-color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    font-weight:bold;
}
.bg-white1{
    background-color: #659DBD;
}
.p-4{
    color: rgb(2, 2, 2);
}
span{
    color: rgb(0, 0, 0);
}
.mb-4{
    text-align: left;
}
.bg-col{
    background-color: #0083cf;
}
